<div>
    This is the request calendar template.
</div>

<div ng-repeat="request in requestVm.requests" class="requests hero-body box">
    <div class="is-pulled-right">
        <div class="status label">
            <select ng-model="request.Status" value="request.Status">
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Declined">Declined</option>
            </select>
        </div>

        <div>
            <div class="button is-success" ng-click="requestVm.approveRequest(request); requestVm.successfulUpdate()">
                SUBMIT
            </div>
            <div class="button is-danger" ng-click="requestVm.deleteRequest(request.Id)">
                DELETE
            </div>
        </div>
    </div>

    <div class="label">
        Employee:
        <div>
            <img src="http://blog.springfield.k12.or.us/yolanda/files/2009/02/person-placeholder-5.png" alt="user-image" class="calendar-image">
            <p class="title">{{request.Name}}</p>
            <p class="subtitle">{{request.EmailAddress}}</p>
        </div>
    </div>

    <div class="label">
        Reason:
        <div>
            {{request.Reason}}
        </div>
    </div>

    <div class="label">
        Time Requested Off:
        <div>
            <p ng-init="date = requestVm.fixDate(request.StartTime)">{{date}}</p>
            -
            <p ng-init="date = requestVm.fixDate(request.EndTime)">{{date}}</p>
        </div>
    </div>

    <div class="comments">
        <p class="label">Comments:</p>
        <input type="textarea" ng-model="request.Comments">
    </div>
</div>

<div class="modal successful-update">
    <div class="modal-background">
        <div class="modal-content">
            Thank you for updating request!
        </div>
    </div>
    <div class="modal-close" ng-click="requestVm.returnToPage()">

    </div>
</div>
